.nested-fields
  = f.input :name, label: "Tipo do contato (ex.: telefone)"
  = f.input :icon, label: "Link do ícone (tamanho 16, cor preta)"

  %a{:href => "https://icongr.am", target: "_blank"}
    %small Clique aqui para ir para a página de ícones
  %br
  %br

  = f.input :contact, label: "contato"
  = link_to_remove_association "remover contato", f, class: "button button--red"
