@import "variables";

.card {
  background-image: url('../images/card-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: -30px;
  padding: 20px;


  &__content {
    background-color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0 10px 0px $black;

    @include breakpoint("small-up") { padding: 20px }
  }
}

.city-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  height: 150px;

  border-radius: 20px;

  &--selected {
    border-radius: 0;

    .city-card__content {
      justify-content: center;
      padding-left: 0;
      background-image: linear-gradient(0deg, white, #0000005e);
    }

    h1 {
      color: black;
      filter: drop-shadow(1px 2px 3px white);
    }
  }

  &__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: inherit;

    background-color: #0000004d;
    color: white;

    width: -webkit-fill-available;
    height: inherit;
    padding-left: 30px;
  }
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;

  &--manager {
    width: unset;
    flex-direction: row;
    justify-content: unset;
  }

  &__icon {
    width: fit-content;
    padding: 20px;
    border-radius: 50%;
    display: flex;

    background-image: linear-gradient(0deg, #0000002e, transparent);
    background-position-y: 35px;
    background-repeat: no-repeat;
  }

  &__content {
    margin-top: 10px;
  }
}

.company-card {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__content {
    text-align: left;
    width: 70%;
    padding-left: 10px;
    color: $brown;
  }

  img {
    width: 30%;
    height: auto;
  }

  &__favorite {
    width: 20%;
    img { width: 20px }
  }
}
