@import "variables";

.company {
  background-color: black;
  height: 250px;
  width: 100%;
  overflow: hidden;

  &__content {
    padding: 20px;
    height: 210px;
    width: auto;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
  }

  &__profile {
    display: flex;
    align-items: center;

    img {
      border-radius: 5px;
      border: 3px solid white;
      background-color: white;
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
  }
}
