@import "variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $wheat;
  color: white;
  z-index: 999;

  &--company {
    background-color: transparent;
    padding: 10px;
    position: absolute;

    img { transform: rotate(-90deg) }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;

    @include breakpoint("touch") { justify-content: space-between }
    @include breakpoint("limiter");
  }

  &__logo {
    display: flex;
    align-items: center;

    strong {
      margin-left: 10px;
      color: #f0a440;
      font-weight: normal;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__links {
    margin-top: 5px;
    display: flex;

    div {
      width: 50%;
      text-align: center;
    }
  }
}

.menu {
  display: none;
  width: 300px;
  padding: 25px;
  border-right: 2px solid #c2c2c2;
  height: 100vh;
  background-color: #efefef;

  &--active {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.navbar-options {
  position: absolute;
  padding: 10px;
  background-color: white;
  color: black;
  width: 150px;
  margin-top: 0;
  margin-left: 49%;
  display: none;
  border: 0.5px solid grey;

  &:before {
    content: "";
    position: absolute;
    right: 15px;
    width: 0;
    bottom: 99%;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  li {
    display: flex;
    align-items: flex-start;
  }

  img {
    margin-right: 10px;
  }
}
