@import "variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $brown;
  color: white;
  z-index: 999;

  &--company {
    background-color: transparent;
    padding: 10px;

    img { transform: rotate(-90deg) }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;

    @include breakpoint("touch") { justify-content: space-between }
    @include breakpoint("limiter");
  }

  &__logo {
    display: flex;
    align-items: center;

    strong {
      margin-left: 10px;
      color: #f0a440;
      font-weight: normal;
      font-size: 20px;
      font-family: fantasy;
      margin-top: 10px;
    }
  }

  &__links {
    margin-top: 5px;
    img {
      transform: rotate(-90deg);
    }
  }
}

.menu {
  display: none;
  width: 300px;
  padding: 25px;
  border-right: 2px solid #c2c2c2;
  height: 100vh;
  background-color: #efefef;

  &--active {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
