= render "application/loading"

.section
  .section__content.text-center
    -# %p#notice= notice
    %h1.title Escolha uma cidade

    - @cities.each do |city|
      = link_to categories_path(city_id: city.id) do
        .city-card{style: "background-image: url(#{city.picture.url})"}
          .city-card__content
            %h2= city.name
      %br
