%br
.section
  .section__content
    %h1 Cidades

    = link_to "Adicionar cidade", new_city_path, class: "button button--brown", style: "width: fit-content"

    %br    	

    - @cities.each do |city|
      = link_to edit_city_path(city) do
        .city-card{style: "background-image: url(#{city.picture.url})"}
          .city-card__content{style: "flex-direction: column; justify-content: center; align-items: flex-start;"}
            %h2= city.name
            %small clique para editar/excluir
        %br
