// Color Variables, Breakpoints and utils
@import "components/variables";

body {
  margin: 0;
  font-family: 'Gotham-Light', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $black;
}

.center { margin: 0 auto }
.text-center { text-align: center }

.image {
  max-width: 100%;

  @include breakpoint("small-up") { max-width: 70% }
  @include breakpoint("medium") { max-width: 100% }
}

.content {
  margin-top: 75px;
}

#map {
  height: 300px;
  width: 100%;
}

.float-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#loading {
  margin-top: -70px;
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $wheat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.company_picture {
  width: 400px;
  height: auto;
}

.color {
  @include colors("color");
}
