#loading
  = image_tag('name.png', style: "width: 100%")

  %small{style: "position: fixed; bottom: 10px; left: 0; right: 0; color: black"} v1.0 by Baptist Software

:javascript
  $(function () {
    if (sessionStorage.getItem("loaded") != 'true') {
      $('#loading').toggle();

      sessionStorage.setItem('loaded', 'true');

      window.setTimeout(function() {
        $('#loading').toggle();
      }, 2000)
    }
  });
