#loading.loading
  = image_tag('name.png')

  %small{style: "position: fixed; bottom: 10px; left: 0; right: 0; color: black"} v1.0 by Baptist Software

:javascript
  $(function () {
    if (sessionStorage.getItem("loaded") != 'true') {
      $('#loading').addClass("loading--active");

      sessionStorage.setItem('loaded', 'true');

      window.setTimeout(function() {
        $('#loading').removeClass('loading--active');
      }, 2000)
    }
  });
