.section
  .section__content.text-center
    = image_tag('icon.png', style: "width: 30%; margin: 0 auto")
    = image_tag('name.png', style: "width: 70%; margin: 0 auto")
    %br
    %br
    %p
      Quer seu negócio exposto aqui? Entre em contato clicando
      %a{:href => "https://api.whatsapp.com/send?phone=5581994577281", style: "color: blue", target: "_blank"} aqui
    %a{:href => policy_path, style: "color: blue"} Termos e condições de uso
    %a{:href => "https://api.whatsapp.com/send?phone=5581994577281", style: "color: blue", target: "_blank"} Seja um revendedor
    %p © 2020 Click Agreste. Todos os direitos reservados
    %br
    %small v1.0
    %p
      Desenvolvido com ❤️ pela
      %a{:href => "https://baptistsoftware.com.br", target: "_blank", style: "color: #F23D5E; font-weight: bold"}  Baptist Software
