.section
  .section__content.text-center
    = image_tag('logo', style: "width: 100%")
    %h1.nav-title Click Agreste
    %p
      Quer seu negócio exposto aqui? Entre em contato clicando
      %a{:href => "#", style: "color: blue"} aqui
    %p © 2020 Click Agreste. Todos os direitos reservados
    %a{:href => "#", style: "color: blue"} Termos e condições de uso
    %a{:href => "#", style: "color: blue"} Seja um revendedor
    %br
    %small v1.0
    %p Desenvolvido com ❤️ pela Baptist Software
