.section
  .section__content

    %strong Política de privacidade

    %br
    %br

    Esta política se aplica aos dados que identificam nossos usuários individualmente (Dados Pessoais) e demais dados fornecidos pelos usuários ou coletados durante a utilização do aplicativo.

    %br

    A utilização do nosso aplicativo para dispositivos móveis significa que você leu, entendeu e consentiu com esta Política de Privacidade.

    %br
    %br

    %strong Informações que coletamos, recebemos e armazenamos

    %br

    Ao publicar um anúncio em nosso aplicativo, o usuário compreende que os anúncios e o conteúdo poderão ser publicamente acessíveis a terceiros.
    %br
    Qualquer informação que os usuários compartilharem em anúncios é de sua própria responsabilidade. Assim como com as contas, os usuários devem considerar com cautela os riscos de deixar certas informações – especialmente informações pessoais, tais como endereço preciso – publicamente disponíveis em um anúncio.
    %br
    O usuário está ciente de que o uso do aplicativo, independentemente da realização de cadastro, implica na aceitação aos Termos de Uso aplicáveis e a esta Política.

    %br
    %br

    %strong Uso da informação

    %br

    Para prestar nosso serviço é possível que nós utilizemos a informações que coletamos e armazenamos, incluindo Dados do Usuário, para os propósitos gerais que seguem:
    %br
    Para prover serviços ao cliente, incluindo criar e gerenciar contas de usuários, resolver dificuldades técnicas e habilitar ou desabilitar funcionalidades.

    %br
    %br

    %strong Controle do usuário

    %br

    Se você é um usuário que criou um anúncio conosco, você pode requerer uma correção ou a exclusão da informação que você forneceu enviando um e-mail para nosso canal de atendimento através do clickagreste@gmail.com ou nos comunicando através do nosso número de telefone ou WhatsApp. Você é responsável pela correção dos dados que você forneceu ou publicou em nosso aplicativo, bem como por mantê-los atualizados. Se a qualquer momento quiser desativar sua conta, também poderá através do e-mail ou telefone.

    %br
    %br

    %strong Segurança

    %br

    Toda informação que nós coletamos é protegida por meios técnicos e procedimentos de segurança razoáveis no intuito de evitar acessos ou uso dos dados de forma não autorizada.

    %br
    %br

    %strong Mudanças nesta política

    %br

    Esta política foi atualizada em setembro de 2020. Nós podemos atualizar esta Política periodicamente, cabendo ao usuário verificar a versão mais atual no momento da utilização do aplicativo. Ao continuar utilizando nossos serviços, você confirma sua aceitação a quaisquer atualizações a esta Política.
    %br
    Se nós fizermos alterações materiais a esta Política com as quais você não deseja concordar, você poderá descontinuar o uso dos serviços.
